<!--The content below is only a placeholder and can be replaced.-->
<!--<ngx-dhis2-menu></ngx-dhis2-menu>-->

<div style="margin-top: 70px; padding: 5px">
  <div class='container-fluid'>
      <ul class="nav nav-tabs mb-1">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/visualization']">Visualisation des données</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/data-import']">Importation des données</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/data-export']">Exportation des données</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
  </div>
</div>

