
<fieldset>
  <legend>Data import form</legend>
  <div class="form-group row ml-1">
    <div class="custom-file col-md-5">
      <input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="onExcelFileChange($event)  " />
      <label class="custom-file-label text-truncate" for="jsonFile">Choose your Excel file</label>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary"><i class="fa fa-upload"></i> Import data</button>
    </div>
  </div>
</fieldset>
<hr>
<fieldset>
  <legend>Import results</legend>
  <div class="alert alert-info" style="min-height: 300px">
    <div *ngIf="excelData != null">
      <p>Number of columns : {{maxColumnCount}}</p>
      <p>Number of rows : {{maxRowCount}}</p>
      <table class="table table-striped table-hover table-sm" >
        <tr *ngFor="let excel of excelData">
          <td *ngFor="let d of excel">
            {{ d}}
          </td>
        </tr>
      </table>
      <!--{{excelData}}-->
    </div>
  </div>
</fieldset>
<!--<gc-spread-sheets [hostStyle]="hostStyle" (workbookInitialized)="workbookInit($event)"></gc-spread-sheets>-->
<!--<div class='exportExcel'>-->
<!--<p>Save Excel File</p>-->
<!--<button (click)="onClickMe($event)">Save Excel!</button>-->
<!--</div>-->
